<footer class="footer">
  <div class="footer-logo">
    <%= link_to root_path do %>
      <%= image_tag "https://res.cloudinary.com/dqpfnffmi/image/upload/v1730718446/logo-simple-original_mc5ybi.svg", alt: "Logo", class: "footer-logo-image" %>
    <% end %>
  </div>

  <nav class="footer-menu">
    <ul class="footer-links">
      <li>
        <%= link_to "Mentions légales", mention_legales_path %>
      </li>
      <li>
        <%= link_to "Plan du site", sitemap_path %>
      </li>
    </ul>
  </nav>
</footer>

