<div class="banner">
  <%= image_tag "https://res.cloudinary.com/dqpfnffmi/image/upload/v1744272731/logo-repris-homepage-prop1_topz91.svg", alt: "Bannière Logo", class: "bg-white banner-fullwidth-image" %>
</div>

<div class="home-page">
    <!-- Section 1: Nos qualifications -->
    <section class="py-5" id="qualifications">
  <div class="container text-center">
    <hr data-content="Nos qualifications" class="hr-text mb-5 h2">
    <p class="lead">Nous sommes fiers de notre expertise.</p>
    <div class="row">
      <div class="col-md-6 mb-4">
        <div class="card shadow-sm p-4 h-100 d-flex flex-column align-items-center">
          <h5 class="card-title mb-3">Opérateur Qualifié</h5>
          <%= image_tag "https://res.cloudinary.com/dqpfnffmi/image/upload/v1744274132/UTAC_Certification_-_Op%C3%A9rateur_qualifi%C3%A9_wtksww.png",
              alt: "Certification UTAC Opérateur",
              class: "img-fluid certification-logo" %>
        </div>
      </div>
      <div class="col-md-6 mb-4">
        <div class="card shadow-sm p-4 h-100 d-flex flex-column align-items-center">
          <h5 class="card-title mb-3">Aménageur Qualifié</h5>
          <%= image_tag "https://res.cloudinary.com/dqpfnffmi/image/upload/v1744274116/UTAC_Certification_-_Am%C3%A9nageur_qualifi%C3%A9_lykm0b.jpg",
              alt: "Certification UTAC Aménageur",
              class: "img-fluid certification-logo" %>
        </div>
      </div>
    </div>
  </div>
</section>

    <!-- Section 2: Nos partenaires -->
    <section class="py-5" id="partenaires">
  <div class="container text-center">
    <hr data-content="Nos partenaires" class="hr-text mb-5 h2">
    <p class="lead">Nous collaborons avec des partenaires de confiance pour garantir la qualité et l'efficacité de nos services.</p>

    <div class="row justify-content-center mb-4">
      <div class="col-md-4 mb-3">
        <a href="https://standbygroup.com/fr/" target="_blank" rel="noopener noreferrer" title="Visiter le site de Mercura">
          <img src="https://res.cloudinary.com/dqpfnffmi/image/upload/v1744315591/logo_MERCURA_ed7a3g.png" alt="Mercura" class="img-fluid partner-logo mb-2">
        </a>
      </div>
      <div class="col-md-4 mb-3">
        <a href="https://www.it-concept.eu/" target="_blank" rel="noopener noreferrer" title="Visiter le site de IT Concept">
          <img src="https://res.cloudinary.com/dqpfnffmi/image/upload/v1744315591/logo_IT_CONCEPT_c9xoor.png" alt="IT Concept" class="img-fluid partner-logo mb-2">
        </a>
      </div>
      <div class="col-md-4 mb-3">
        <a href="https://forankra.fr/fr/" target="_blank" rel="noopener noreferrer" title="Visiter le site de Forankra">
          <img src="https://res.cloudinary.com/dqpfnffmi/image/upload/v1744315591/logo_FORANKRA_hpbvh3.png" alt="Forankra" class="img-fluid partner-logo mb-2">
        </a>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-md-4 mb-3">
        <a href="https://www.mtsproshop.com/fr/" target="_blank" rel="noopener noreferrer" title="Visiter le site de MTS">
          <img src="https://res.cloudinary.com/dqpfnffmi/image/upload/v1744315591/logo_MTS_orpnsp.png" alt="MTS" class="img-fluid partner-logo mb-2">
        </a>
      </div>
      <div class="col-md-4 mb-3">
        <a href="https://www.systemedstrom.com/fr/" target="_blank" rel="noopener noreferrer" title="Visiter le site de Edström">
          <img src="https://res.cloudinary.com/dqpfnffmi/image/upload/v1744315591/logo_EDSTR%C3%96M_xwi8cu.png" alt="Ëdstrom" class="img-fluid partner-logo mb-2">
        </a>
      </div>
    </div>
  </div>
</section>


    <!-- Section 3: Nous trouver -->
    <section class="py-5" id="nous-trouver">
      <div class="container text-center">
        <hr data-content="Nous trouver" class="hr-text mb-5 h2">
        <div class="row align-items-center">
          <!-- Colonne de la carte -->
          <div class="col-md-6 d-flex justify-content-center mb-4 mb-md-0">
            <div style="width: 100%; max-width: 500px; height: 350px;">
              <div id="map" class="map w-100 h-100"></div>
            </div>
          </div>

          <!-- Colonne des informations -->
          <div class="col-md-6 d-flex justify-content-center">
            <div class="p-4" style="width: 100%; max-width: 500px;">
  <h2 class="h2 text-center" style="color:#0bb0a9;">Tetris Aménagement de Véhicules</h2>
  <p class="mb-3"><strong style="color:#0bb0a9;">Atelier : </strong>4 avenue des Pays-Bas – 69330 Meyzieu</p>
  <p><strong style="color:#0bb0a9;">Téléphone :</strong> 06.16.38.91.18 - 04.87.37.92.98</p>
  <p><strong style="color:#0bb0a9;">Mail :</strong> mickael@tetris-vv.fr</p>
</div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!-- Script de la carte Leaflet -->
  <script>
    document.addEventListener("DOMContentLoaded", function() {
  // Centrage entre Vaulx-en-Velin et Meyzieu
  const map = L.map('map').setView([45.768, 4.982], 12);

  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 19,
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
  }).addTo(map);

  const customIcon = L.icon({
    iconUrl: 'https://res.cloudinary.com/dqpfnffmi/image/upload/v1730718446/logo-simple-original_mc5ybi.svg',
    iconSize: [70, 70],
    iconAnchor: [35, 70],
    popupAnchor: [0, -70]
  });

  // Marqueur 1 : Vaulx-en-Velin
  L.marker([45.77759, 4.93671], { icon: customIcon }).addTo(map)
    .bindPopup(`
      Siège social<br><b>11 rue Francine Fromont</b><br>Vaulx-en-Velin<br>
      <a href="https://www.google.com/maps/dir/?api=1&destination=45.77759,4.93671" target="_blank" class="btn btn-primary btn-sm mt-2" style="color: #ffffff;">
        Obtenir un itinéraire
      </a>
    `);

  // Marqueur 2 : Meyzieu (coordonnées précises)
  L.marker([45.75888691780684, 5.027744957672884], { icon: customIcon }).addTo(map)
    .bindPopup(`
      Atelier<br><b>4 avenue des Pays-Bas</b><br>69330 Meyzieu<br>
      <a href="https://www.google.com/maps/dir/?api=1&destination=45.75888691780684,5.027744957672884" target="_blank" class="btn btn-primary btn-sm mt-2" style="color: #ffffff;">
        Obtenir un itinéraire
      </a>
    `);
});


  </script>