$primary-color: #0bb0a9;
$secondary-color: #94d0d0;
$accent-color: #eaa907;
$text-color: #333;

$font-title: 'Montserrat', sans-serif;
$font-subtitle: 'Montserrat', sans-serif;
$font-body: 'Hind', sans-serif;
