// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

@import 'variables';
@import 'custom_amenagement_bois';
@import 'custom_amenagement_metal';
@import 'custom_equipements_ext';
@import 'custom_habillage';
@import 'home';
@import 'footer';

.page-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .content {
    flex: 1;
    padding-bottom: 80px; // adapte selon la hauteur réelle de ton footer

    @media (max-width: 768px) {
        padding-bottom: 20px;
    }
  }
  
  
.yield-body {
    h1{
        font-family: $font-title;
    }
    h2,h3 {
        font-family: $font-subtitle;
    }
    p{
        font-family: $font-body;
    }
}

.cta-box {
    background-color: #f9f9f9;
    border-left: 6px solid $primary-color;
    font-family: $font-body;
    color: $text-color;
  
    h5 {
      font-family: $font-title;
      color: $primary-color;
    }
  
    .cta-link {
      color: $primary-color;
      text-decoration: none;
  
      &:hover {
        color: $accent-color;
        text-decoration: underline;
      }
    }
  
    i.text-accent {
      color: $accent-color;
    }
  }
  