@import 'variables';
.amenagement-metal {
    .row {
      margin-bottom: 2rem;
  
      h2 {
        color: $primary-color;
        font-size: 1.5rem;
        font-weight: bold;
        font-family: $font-subtitle;
      }
  
      p, ul li {
        color: #555;
        font-size: 1rem;
        line-height: 1.6;
        font-family: $font-body;
      }
  
      img {
        max-width: 100%;
        border-radius: 8px;
      }
  
      ul {
        padding-left: 20px;
      }
    }
  
    // Alternance des directions pour flex-direction sur écrans moyens et plus
    @media (min-width: 768px) {
      .row:nth-child(even) {
        flex-direction: row-reverse;
      }
    }
  }
  
  